.footer {
  background: linear-gradient(to right, #435062, #000000);
    padding: 80px 20px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
}

.footer-container h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.footer-container p {
  font-size: 1rem;
  margin: 8px 0;
}

.footer-icons {
  margin: 15px 0;
}

.footer-icons a {
  color: #555;
  font-size: 22px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #6c63ff;
}

.footer-bottom {
  font-size: 0.9rem;
  color: #666;
  margin-top: 15px;
}
